<!DOCTYPE html>
<html ng-app="dbchat">
<head>
    <title>Change Password</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="css/jquery.mobile-1.2.0.min.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
</head>

<body>

<div id="registerPage" data-role="page">

    <div data-role="header" data-position="fixed">
        <h1>Change Password Page</h1>
    </div>

    <div data-role="content">
        <div name="registration" ng-controller="FriendDetailsCtrl" novalidate class="css-form">

            <div data-role="fieldcontain">
                <label for="opassword">Old Password:</label>
                <input type="password" name="opassword" ng-model="user.opassword" id="opassword" value="" data-mini="true"
                       ng-required="true" ng-minlength="3" ng-maxlength="30"/>
            </div>

            <div data-role="fieldcontain">
                <label for="npassword">New Password:</label>
                <input type="password" name="npassword" ng-model="user.npassword" id="npassword" value="" data-mini="true"
                       ng-required="true" ng-minlength="3" ng-maxlength="30"/>
            </div>

            <div data-role="fieldcontain">
                <label for="ccpassword">Confirm Password:</label>
                <input type="password" name="ccpassword" ng-model="user.ccpassword" id="ccpassword" value="" data-mini="true"
                       ng-required="true" ng-minlength="3" ng-maxlength="30"/>
            </div>

            <span class="invalidUser" ng-cloak>{{message}}</span>

            <div data-role="popup" id="message" data-theme="d" data-overlay-theme="b" class="ui-content"
                 style="max-width:340px;">
                <h3>Change Password</h3>
                <p>Your password was successfully updated !</p>
                <div class="ui-grid-a">
                    <div class="ui-block-a"><a href="main.html" data-role="button" data-mini="true" data-ajax="false">Main</a></div>
                    <div class="ui-block-b"><a href="friendslist.html" data-direction="reverse" data-role="button" data-mini="true" data-ajax="false">Contact List</a></div>
                </div>
            </div>

            <div class="ui-body">
                <fieldset class="ui-grid-a">
                    <div class="ui-block-a">
                        <button data-theme="a" data-mini="true" ng-click="changePassword()">Save</button>
                    </div>
                    <div class="ui-block-b">
                        <button data-theme="d" data-mini="true" ng-click="back()">Cancel</button>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<script src="js/lib/jquery.min.js"></script>
<script src="js/lib/jquery.mobile.min.js"></script>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular-resource.min.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/directives.js"></script>
<script src="js/controllers.js"></script>

</body>
</html>